html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a.list {
  color: inherit;
  text-decoration: none;
}

ul.list-group {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media (min-width: 768px) {
  ul.list-group {
    width: 650px;
  }
}

nav.center {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media (min-width: 1200px) {
  nav.center {
    width: 90%;
  }
}

@media (min-width: 1400px) {
  nav.center {
    width: 75%;
  }
}

textarea.cc {
  height:300px;
}

@media (max-width: 767px) {
  div.all {
    width: 90%;
  }
}

@media (min-width: 768px){
  div.all {
    width: 70%;
  }
}

@media (min-width: 1273px){
  div.all {
    width: 50%;
  }
}

* {
  box-sizing: border-box;
}
